<form autocomplete="off">
    {{#if hasActors}}
    <p class="notes">Checked actors will not receive Full Speed Ahead private attack option chat cards when used by players. Targeting still works.</p>

    {{#each actors}}
    <div class="form-group">
        <label>Disable Chat Card attack options for {{name}}</label>
        <input type="checkbox" name="disableTargetingCard_{{id}}" {{checked disabled}}>
        <p class="notes">{{type}}</p>
    </div>
    {{/each}}
    {{else}}
    <p class="notes">No player-owned characters or vehicles were found.</p>
    {{/if}}

    <footer class="sheet-footer flexrow">
        <button type="submit">
            <i class="fas fa-save"></i> Save
        </button>
    </footer>
</form>
